<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>feed app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

    <h3>feed</h3>

    <% include nav %>

    <h3><%= page %></h3>

    <% include posts %>

    <script src="/js/functions.js"></script>

</body>
</html>