<!DOCTYPE html>
<html>
<head>
    <title>feed</title>
</head>
<body>

    <h1>feed follow tags</h1>

    <form action="/follow" method="post">
        <label>tags you'd like to follow (comma separated)</label>
        <input type="text" name="tags">
        <button type="submit">Submit</button>
    </form>

</body>
</html>