<!DOCTYPE html>
<html>
<head>
    <title>feed</title>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div>

    <div>
        <h1> feed</h1>

        <p>Login or Register with:</p>

        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    </div>

</div>
</body>
</html>