<p><a href="/user/<%= user.local.username %>">my profile</a></p>
<p><a href="/create">create</a></p>
<p><a href="/follow">follow tags</a></p>

<a href="/">Home</a>
<a href="/new">New</a>
<a href="/top">Top</a>
<a href="/categories/us">U.S.</a>
<a href="/categories/sports">Sports</a>
<a href="/categories/entertainment">Entertainment</a>
<a href="/categories/environment">Environment</a>
<a href="/categories/fashion">Fashion</a>
<a href="/categories/food">Food</a>
<a href="/categories/health">Health</a>
<a href="/categories/lifestyle">Lifestyle</a>
<a href="/categories/money">Money</a>
<a href="/categories/opinion">Opinion</a>
<a href="/categories/politics">Politics</a>
<a href="/categories/science">Science</a>
<a href="/categories/technology">Technology</a>
<a href="/categories/travel">Travel</a>
<a href="/categories/world">World</a>
<a href="/categories/misc">Misc.</a>