<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>feed app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

    <h3>feed</h3>

    <% include nav %>

    <h3><%= page %>'s profile</h3>

    <p><a href="/user/<%= page %>">posts</a></p>
    <p><a href="/user/<%= page %>/likes">likes</a></p>

    <% include posts %>

    <script src="/js/functions.js"></script>

</body>
</html>